.plane {
  position: absolute;
  left: -300px;
  width: 100%;
}

.plane-right {
  animation-name: fly-left;
  transform: rotate(-30deg);
  animation-timing-function: linear;
}

.plane-left {
  animation-name: fly-right;
  transform: scaleX(-1) rotate(-30deg);
  animation-timing-function: linear;
}

@keyframes fly-right {
  0% {
    left: 100%;
    top: 45%;
  }

  100% {
    left: -10%;
    top: 10%;
  }
}

@keyframes fly-left {
  0% {
    left: -10%;
    top: 10%;
  }

  100% {
    left: 100%;
    top: 45%;
  }
}

/* STAR */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating {
  0% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 4s linear infinite;
}
