.plane {
  position: absolute;
  left: -300px;
  width: 100%;
}

.plane-right {
  animation-name: fly-left;
  transform: rotate(-30deg);
  animation-timing-function: linear;
}

.plane-left {
  animation-name: fly-right;
  transform: scaleX(-1) rotate(-30deg);
  animation-timing-function: linear;
}

@keyframes fly-right {
  0% {
    left: 100%;
    top: 45%;
  }

  100% {
    left: -10%;
    top: 10%;
  }
}

@keyframes fly-left {
  0% {
    left: -10%;
    top: 10%;
  }

  100% {
    left: 100%;
    top: 45%;
  }
}
